.product-card {
  width: 400px;
  margin-bottom: 50px;
  margin-top: 20px;

}
.card-btn{
  position: relative;
  right: 0;
  background-color: #202020;
  color: white;
  height: 40px;
}
.white-icon {
  color: white;
}
.head{
  justify-items: end;
  position: relative;
  width: 100%;
  background-color: #202020;
  display: flex;
}
.topic{
  color: white;
  text-align: center;
  line-height: 150px;
  font-size: 50px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 8px;
}
