<mat-grid-list cols="3" rowHeight="100px">
  <mat-grid-tile [colspan]="3">
    <div fxFlex="90">
      <form [formGroup]="productForm">
        <div
          fxLayout="row"
          fxLayout.xs="column"
          fxLayoutGap="5rem"
          fxLayoutAlign="left"
        >
          <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <input matInput formControlName="description">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Selling Price</mat-label>
            <input matInput formControlName="price">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <input type="file" matInput formControlName="image">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Supplier</mat-label>
            <mat-select formControlName="supplierId">
              <mat-option *ngFor="let supplier of suppliers" [value]="supplier.id">
                {{supplier.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </form>
    </div>
  </mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="6" rowHeight="4rem">
  <mat-grid-tile [colspan]="6">
    <div fxFlex="90">
      <div
        fxLayout="row"
        fxLayoutAlign="start"
        fxLayoutGap="3rem"
      >
        <button mat-raised-button color="primary" (click)="onSave()">Save</button>
        <button mat-raised-button color="primary" (click)="onUpdate()">Update</button>
        <button mat-raised-button color="primary" (click)="onDelete()">Delete</button>
      </div>
    </div>
  </mat-grid-tile>
</mat-grid-list>

<div
  class="product-table"
  fxLayout="column"
>
  <div fxLayoutAlign="left" fxLayoutGap="20">
    <mat-form-field appearance="fill" fxFlex="30">
      <mat-label>Search</mat-label>
      <input matInput>
    </mat-form-field>
  </div>
  <table [dataSource]="datasource" mat-table class="mat-elevation-z8">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef fxFlex="20">Name</th>
      <td mat-cell *matCellDef="let element" fxFlex="20"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef fxFlex="80">Description</th>
      <td mat-cell *matCellDef="let element" fxFlex="80"> {{element.description}} </td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef fxFlex="20">Price</th>
      <td mat-cell *matCellDef="let element" fxFlex="20"> {{element.price}} </td>
    </ng-container>

    <ng-container matColumnDef="supplier">
      <th mat-header-cell *matHeaderCellDef fxFlex="20">Supplier</th>
      <td mat-cell *matCellDef="let element" fxFlex="20"> {{element.supplier}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row (click)="selectedRole(row)" *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>
</div>
