<header>
  <div class="navbar navbar-dark shadow-sm">
    <div class="navbar-brand align-item-center d-flex">
      <i style="font-size: 40px;" class="fas fa-shipping-fast">&nbsp;

      </i>
      <strong style="font-size: 30px;">Tech Mart</strong>
      <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="searchTerm" (keyup)="search($event)"
               placeholder="search products">
      </div>
      <span class="fas fa-search search-icon"></span>
    </div>
    <button routerLink="/customer/cart" class="btn">
      <i style="font-size: 30px;color: white" class="fas fa-cart-plus"></i>
      <div style="font-size: 10px;margin-right: 25px" class="badge bg-danger">{{totalItem}}</div>
      <a (click)="logout()">
        <mat-icon style="color:white;">settings_power</mat-icon>
      </a>
    </button>
  </div>
</header>
