<app-spinner #spinner></app-spinner>
<div
  fxLayout="row"
  fxLayout.xs="column"
  fxLayoutGap="1rem"
  fxLayoutAlign="center"
  class="login-container"
>

  <div fxFlex="50" class="login-image">
    <img src="assets/background.jpg" alt="">
  </div>

  <div fxFlex="50" class="login-form full-width"
       fxLayout="column"
       fxLayout.xs="column"
       fxLayoutAlign="center">

        <div class="login-form-container" fxFlexAlign="auto">
          <h1 class="mat-h1">Sign in to your account</h1>

          <form [formGroup]="form" class="form">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Username</mat-label>
              <input
                matInput
                placeholder="Username"
                formControlName="username"
              />
            </mat-form-field>
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Password</mat-label>
              <input
                matInput
                type="password"
                placeholder="Password"
                formControlName="password"
                (keydown)="onKeydown($event)"
              />
            </mat-form-field>
            <button
              mat-raised-button
              color="primary"
              type="button"
              class="submit-button"
              [disabled]="form.invalid || form.pristine"
              (click)="checkLogin()"
            >
              {{ localizationService.keys["LOGIN"] }}
            </button>
            <a
              fxLayoutAlign="center"
              routerLink="/register" style="color: black; font-size: 20px; margin-top: 10px">
              <div>Sign up</div>
            </a>
          </form>
        </div>


  </div>
</div>

