mat-card {
  max-width: 450px;
  margin: 2em auto;
  text-align: center;
}

mat-form-field {
  display: block;
}

button {
  margin: 10px;
  height: 60px;
}

.login-button {
  width: 194.58px;
}

form {
  margin-bottom: 10px;
}

a:hover {
  text-decoration:none;
  text-shadow: 1px 1px 1px #555;
}

a {
  cursor:pointer;
  color:blue;
  text-decoration:underline;
}

.success-message {
  color: green;
  margin-top: 5px;
  display: inline-block;
}

.mat-error {
  margin-top: 5px;
}

mat-button-toggle-group {
  margin-bottom: 10px;
}

mat-button-toggle {
  width: 66px;
}
